<nav class = "navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Hello, Multiverse</a>
        </div>
        <div class="navbar-default">
            <ul class="navbar-nav nav">
                <li><a href="/mode/map">Map</a></li>
                <li><a href="/mode/screen">Screen</a></li>
                <li><a href="/mode/code">Code</a></li>
                <li><a href="/mode/sprite">Sprite</a></li>
                <li><a href="/mode/tile">Tile</a></li>
                <li><a href="/mode/music">Music</a></li>
            </ul>
            <a type="button" href="/mode/play" class="btn btn-success navbar-right navbar-nav" style="text-align: center; margin-right: 0px; margin-top: 7px;">
                Play
            </a>
        </div>
    </div>
</nav>