<script src="src/apps/sprite-editor.js" type="module"></script>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div id="pixel-painter-canvas"></div>
            </div>
            <div class="row">
                <div id="pixel-painter-ui">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-secondary">Import</button>
                        <button type="button" class="btn btn-secondary">Load</button>
                        <button type="button" class="btn btn-secondary">Save</button>
                        <button type="button" class="btn btn-secondary">Clear</button>
                      </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div id="sprite-animation-editor-canvas"></div>
            </div>
            <div class = "row">
                <div id="sprite-animation-editor-ui">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-secondary">Set</button>
                        <button type="button" class="btn btn-secondary">Edit</button>
                        <button type="button" class="btn btn-secondary">Clear</button>
                        <button type="button" class="btn btn-secondary">Play/Pause</button>
                        <button type="button" class="btn btn-secondary">Save Sprite</button>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>