<script src="src/apps/sprite-editor.js" type="module"></script>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div id="pixel-painter-canvas"></div>
        </div>
        <div class="col-md-6">
            <div id="sprite-animation-editor-canvas"></div>
        </div>
    </div>
</div>